@font-face {
    font-family: 'Brusnika';
    src: url('./Brusnikanormal.woff2') format('woff2'),
        url('./Brusnikanormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

