.footer {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  z-index: 20;
  .line-wrap {
    display: block;
    width: 100%;
    padding: 40px 60px;
    background-color: var(--accent-color);
    border-radius: 36px;
  }
}

@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
