.header {
  position: absolute;
  top: 10px;
  left: 50%;
  display: block;
  width: 100%;
  max-width: 1920px;
  transform: translateX(-50%);
  z-index: 40;
  .line-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header-logotype {
    display: block;
    width: 280px;
    height: 70px;
    background-color: red;
  }
  .header-menu-en {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: calc(100% - 580px);
    width: 100%;
    .menu-item {
      display: block;
      a {
        display: block;
        width: 100%;
        font-family: var(--font-primary);
        font-weight: 400;
        font-size: 16px;
        color: var(--menu-color);
        transition: all 0.4s ease;
      }
    }
  }
  .header-lang {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 22px;
    width: 100%;
    max-width: 280px;
    padding: 8px 20px;
    background-color: var(--ice-color);
    border-radius: 100px;
    .menu-item {
      display: block;
      a {
        position: relative;
        display: block;
        width: 100%;
        padding-right: 44px;
        font-family: var(--font-primary);
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: var(--menu-color);
        transition: all 0.4s ease;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 34px;
          height: 25px;
          background-color: red;
        }
      }
      &.current-menu-item a {
        color: var(--accent-color);
      }
      &.en a:after {
      }
      &.sp a:after {
      }
      &.ru a:after {
      }
    }
  }
  .burger {
    position: relative;
    display: none;
    width: 36px;
    height: 36px;
    span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #222222;
      border-radius: 8px;
      transform: translateY(-50%);
      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 8px;
        background-color: #222222;
        transition: all 0.4s ease;
      }
      &:before {
        top: -9px;
      }
      &:after {
        top: 9px;
      }
    }
    &.active span {
      height: 0;
      &:before {
        top: 0;
        transform: rotate(45deg);
      }
      &:after {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }
}

@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
