.sub_title {
  display: block;
  width: 100%;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--text-color);
}
